@import "tailwindcss";

@theme {
  --color-background: #ffffff;

  /* 30% Secondary Color */
  --color-card-background: #f9fafb;

  /* 10% Accent Color */
  --color-accent: #3b82f6;

  /* Text & Utility Colors */
  --color-text-primary: #1f2937;
  --color-text-secondary: #6b7280;
  --color-border: #e5e7eb;
  --color-success: #22c55e;

  --color-background-dark: #121212;
  --color-card-background-dark: #1e1e1e;
  --color-text-primary-dark: #e5e7eb;
  --color-text-secondary-dark: #9ca3af;
  --color-accent-dark: #3b82f6;
  --color-border-dark: #374151;
}
